.membership-form {
  width: 40%;
}

#membership-plan-btn {
  align-items: center;
  justify-content: center;
  
}

.transition-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
 
}

.unavailable {
  color: red;
  font-weight: 500;
}

#name-field-row{
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
}

.membership-plan-row {
  justify-content: space-evenly;
}

.active-plan {
  background-color: rgb(241, 225, 180);
}

.email-input {
  width: 100%;
}

#email-input-container {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.membership {
  display: inline-block;
}

.membership-card:hover .membership-benefits {
  background-color: rgb(146, 154, 194);
  cursor: pointer;
}

.img{
  height: 200px;
  width: 100%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

#change-and-select-btns {
  background-color: #e1f5fe;
  border-color: black;
  color: black;
} 

#submit-btn {
  background-color: #8fdcff;
  border-color: black;
  color: black;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin-bottom: 1.5%;
  margin-top: 1.5%;
  align-self: center;
  font-size: large;
  background-color: transparent;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  text-align: center;
  
}

.p {
  align-items: center;
  text-align: center;

}

.q {
  align-items: center;
  text-align: center;
}

.expiration {
  font-size: 15px;
  color: rgb(85, 34, 34);
  margin-top: 15px;
  margin-bottom: 5px;
  
}

.benefitsTitle{
  margin-top: 30px;
  margin-bottom: 25px;
}

.background {
    background-image: url('./assets/spring.jpg');
    min-width: 100%;
    min-height: 100%;
    block-size: auto;
}

.greet{
  padding-top: 30px;
  padding-bottom: 20px;
  font-style: italic;
}

.membership-card{
  max-width: 35%;
  text-align: center;
}

.membership-heading{
   background-color: #ebc68f;
    color: white;
    padding-right: 80px; 
   padding-left: 80px;
    padding-top: 50px;
    padding-bottom: 50px; 
    font-size: 30px
}

.membership-price{
  background-color: lightgrey;
   padding: 20px;
   font-size: 50px;
 font-weight: lighter;
 margin-bottom: 0;
}

#container-membership-plan {
  position: relative;
}

.membership-benefits{
  border-bottom: 1px solid lightGrey;
  margin: 0px;
  padding: 5%;
  background-color: white;
}